{% extends 'give/base.html' %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <a href="{% url 'create_post' %}" class="btn btn-info">Create Post</a>
    <a href="{% url 'portfolio' %}" class="btn btn-info">Portfolio</a>
    <a href="{% url 'search' %}" class="btn btn-info">Search</a>
    <a href="{% url 'chat_list' %}" class="btn btn-success">Chat</a>
    <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>

    <ul class="list-unstyled mt-3">
        {% for post in posts %}
        <li class="card mb-3">
            <div class="card-body">
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                {% endif %}
                <p class="text-muted">Published on: {{ post.created_at|date:"F j, Y, g:i a" }}</p>
                {% if post.country == "US" %}
                    <p class="text-muted">Location: {{ post.city }}, {{ post.state }}, {{ post.country }}</p>
                {% else %}
                    <p class="text-muted">Location: {{ post.city }}, {{ post.country }}</p>
                {% endif %}
                <a href="{% url 'view_post' post.id %}" class="btn btn-info">View Post</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}







