{% extends 'give/base.html' %}

{% block content %}
<h1>Edit Post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h3>Current Images</h3>
    <ul>
        {% for photo in post.photos.all %}
        <li>
            <img src="{{ photo.image.url }}" alt="{{ photo.description }}" style="max-width: 100px; max-height: 100px;">
            <input type="checkbox" name="delete_images" value="{{ photo.id }}"> Delete
        </li>
        {% endfor %}
    </ul>

    <h3>Add New Images</h3>
    <input type="file" name="images" multiple>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<a href="{% url 'my_posts' %}" class="btn btn-secondary">Back to My Posts</a>
{% endblock %}

