{% extends 'give/base.html' %}

{% block content %}
<h1>My Posts</h1>
<ul>
    {% for post in posts %}
    <li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <a href="{% url 'view_post' post.id %}">View Post</a>
        <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary">Redact</a>
        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'portfolio' %}" class="btn btn-secondary">Back to Portfolio</a>
{% endblock %}
