{% extends 'give/base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>
{% if post.photos.all %}
    <h2>Photos</h2>
    <ul>
        {% for photo in post.photos.all %}
            <li><img src="{{ photo.image.url }}" alt="{{ photo.description }}" style="max-width: 150px; max-height: 150px;"></li>
        {% endfor %}
    </ul>
{% endif %}
<p><strong>Posted by:</strong> <a href="{% url 'portfolio2' profile.user.id %}">{{ profile.username }}</a></p>
<a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}


